<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Receipt</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        width: 80mm; /* Thermal printer kengligi */
        margin: 0;
        padding: 0;
      }
      .container {
        padding: 5mm;
      }
      .header,
      .footer {
        text-align: center;
        font-size: 12pt;
      }
      .header h1 {
        margin: 0;
      }
      .details {
        margin: 10px 0;
        font-size: 8pt;
      }
      .details p {
        margin: 2px 0;
      }
      .items {
        margin: 10px 0;
        padding: 5px 0;
      }
      .item {
        display: flex;
        justify-content: space-between;
        font-size: 8pt;
        margin-bottom: 5px;
      }
      .item:last-child {
        margin-bottom: 0;
      }
      .footer {
        margin-top: 10px;
        font-size: 8pt;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>MayTopia</h1>
        <p>Sharof Rashidov 45a</p>
      </div>
      <div class="details">
        <p>Table Number: <%= table_number %></p>
        <p>Status: <%= status %></p>
        <p>Created At: <%= 
            (() => {
              const currentDate = new Date();
              const gmtPlus5Date = new Date(currentDate.getTime() + 5 * 60 * 60 * 1000);
              const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
              };
              return currentDate.toLocaleString('en-US', options);
            })()
          %></p>
      </div>
      <div class="items">
        <% products?.forEach(product => { %>
        <div
          style="display: flex; flex-direction: column; gap: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000;"
          class="item"
        >
          <span style="white-space: nowrap"
            >Product Name: <%= product?.product_id?.name %></span
          >
          <span style="white-space: nowrap">Qty: <%= product?.quantity %></span>
          <span style="white-space: nowrap"
            >Price: <%= product?.totalPrice || product?.options?.price %></span
          >

          <div class="item" style="display: flex; justify-content: start; flex-wrap: wrap;">
            <span>Additions:</span>
            <% product?.additions?.forEach(item => { %>
            <span>+ <%= item?.name %></span>
            <% }); %>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="footer">
        <p>Total Price: <%= total_price %></p>
        <p>Thank you for your purchase!</p>
      </div>
    </div>
  </body>
</html>
